.box{
    text-align: center;
}

.hours, .minutes, .seconds, .amorpm{
    width: 4em;
    height: 4em;
    background-color: rebeccapurple;
    padding: 1em;
    margin: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 3px 3px 9px #542682, -3px -3px 9px #8048b8;
}

#hours, #minutes, #seconds, #amorpm{
    font-size: 2em;
    color: white;
}

.box > h1{
    font-size: 1em;
    color: white;
}



.main {
    display: flex;
    min-height: 100%;
    min-height:225px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .left {
    width: 50%;
  }
  .right {
    width: 50%;
    position: relative;
  }